<a href="https://colab.research.google.com/github/jain40470/Real_estate_website/blob/main/Real_state_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd

import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib

In [58]:
df1 = pd.read_csv("https://raw.githubusercontent.com/jain40470/Real_estate_website/main/Bengaluru_House_Data.csv.xls")
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [59]:
df1.shape

(13320, 9)

In [60]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [61]:
df2 = df1.drop(['area_type','availability','society'],axis='columns')
df2.head()

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

In [62]:
df2.isnull().sum()

location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [63]:
import math
a = math.ceil(df2[['balcony']].mean())
b = math.ceil(df2[['bath']].mean())
print(a,b)

2 3

In [65]:
df2['balcony'].fillna(a,inplace=True)

In [66]:
df2['bath'].fillna(b,inplace=True)

In [67]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath           0
balcony        0
price          0
dtype: int64

In [75]:
df2.dropna(inplace = True)
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [76]:
df3 = df2
df3.shape

(13303, 6)

In [78]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [84]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))
df3['bhk']

0        2
1        4
2        3
3        3
4        2
        ..
13315    5
13316    4
13317    2
13318    4
13319    1
Name: bhk, Length: 13303, dtype: int64

In [86]:
df3.drop(['size'],axis='columns')

                       location total_sqft  bath  balcony   price  bhk
0      Electronic City Phase II       1056   2.0      1.0   39.07    2
1              Chikka Tirupathi       2600   5.0      3.0  120.00    4
2                   Uttarahalli       1440   2.0      3.0   62.00    3
3            Lingadheeranahalli       1521   3.0      1.0   95.00    3
4                      Kothanur       1200   2.0      1.0   51.00    2
...                         ...        ...   ...      ...     ...  ...
13315                Whitefield       3453   4.0      0.0  231.00    5
13316             Richards Town       3600   5.0      2.0  400.00    4
13317     Raja Rajeshwari Nagar       1141   2.0      1.0   60.00    2
13318           Padmanabhanagar       4689   4.0      1.0  488.00    4
13319              Doddathoguru        550   1.0      1.0   17.00    1

[13303 rows x 6 columns]

In [87]:
df3['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18])

In [88]:
df3[df3.bhk>20]

,location,size,total_sqft,bath,balcony,price,bhk
1718,2Electronic City Phase II,27 BHK,8000,27.0,0.0,230.0,27
4684,Munnekollal,43 Bedroom,2400,40.0,0.0,660.0,43

In [89]:
df3.total_sqft.unique()
# 1133 - 1384
# notice in such things.

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [94]:
def float_checker(x):
  try:
    float(x)
  except:
    return False
  return True

In [102]:
check = df3[~df3['total_sqft'].apply(float_checker)]
# return the df where not changes or function return false
check['total_sqft'].unique()

array(['2100 - 2850', '3010 - 3410', '2957 - 3450', '3067 - 8156',
       '1042 - 1105', '1145 - 1340', '1015 - 1540', '1520 - 1740',
       '34.46Sq. Meter', '1195 - 1440', '4125Perch', '1120 - 1145',
       '4400 - 6640', '3090 - 5002', '4400 - 6800', '1160 - 1195',
       '1000Sq. Meter', '4000 - 5249', '1115 - 1130', '1100Sq. Yards',
       '520 - 645', '1000 - 1285', '3606 - 5091', '650 - 665',
       '633 - 666', '5.31Acres', '30Acres', '1445 - 1455', '884 - 1116',
       '850 - 1093', '1440 - 1884', '716Sq. Meter', '547.34 - 827.31',
       '580 - 650', '3425 - 3435', '1804 - 2273', '3630 - 3800',
       '660 - 670', '1500Sq. Meter', '620 - 933', '142.61Sq. Meter',
       '2695 - 2940', '1574Sq. Yards', '3450 - 3472', '1250 - 1305',
       '670 - 980', '1005.03 - 1252.49', '1004 - 1204', '361.33Sq. Yards',
       '645 - 936', '2710 - 3360', '2249.81 - 4112.19', '3436 - 3643',
       '2830 - 2882', '596 - 804', '1255 - 1863', '1300 - 1405',
       '117Sq. Yards', '934 - 1437', '980 - 1030', '1564 - 1850',
       '1446 - 1506', '1070 - 1315', '3040Sq. Meter', '500Sq. Yards',
       '2806 - 3019', '613 - 648', '1430 - 1630', '704 - 730',
       '1482 - 1846', '2805 - 3565', '3293 - 5314', '1210 - 1477',
       '3369 - 3464', '1125 - 1500', '167Sq. Meter', '1076 - 1199',
       '381 - 535', '2215 - 2475', '524 - 894', '540 - 670',
       '315Sq. Yards', '1650 - 2538', '2725 - 3250', '1974 - 2171',
       '888 - 1290', '1360 - 1890', '2466 - 2856', '660 - 700',
       '385 - 440', '770 - 841', '3Cents', '1310 - 1615', '1782 - 2000',
       '188.89Sq. Yards', '1469 - 1766', '204Sq. Meter', '1255 - 1350',
       '870 - 1080', '45Sq. Yards', '133.3Sq. Yards', '2580 - 2591',
       '2563 - 2733', '605 - 624', '4260 - 4408', '1349 - 3324',
       '78.03Sq. Meter', '3300 - 3335', '1180 - 1630', '1365 - 1700',
       '3500 - 3600', '122Sq. Yards', '84.53Sq. Meter', '2.09Acres',
       '1482 - 1684', '981 - 1249', '1100 - 1225', '1565 - 1595',
       '24Guntha', '1270 - 1275', '840 - 1010', '697Sq. Meter',
       '655 - 742', '1408 - 1455', '4050 - 4075', '942 - 1117',
       '1750 - 2640', '1390 - 1600', '598 - 958', '1500Cents',
       '132Sq. Yards', '1010 - 1300', '2Acres', '3103 - 3890',
       '1450 - 1950', '1100Sq. Meter', '15Acres', '1450 - 1595',
       '763 - 805', '3307 - 3464', '1.26Acres', '620 - 934',
       '2462 - 2467', '540 - 740', '1618 - 1929', '3508 - 4201',
       '4900 - 4940', '1610 - 1880', '755 - 770', '664 - 722',
       '151.11Sq. Yards', '700 - 900', '596 - 861', '1925 - 2680',
       '615 - 985', '540 - 565', '750 - 800', '1660 - 1805',
       '1410 - 1710', '1079 - 1183', '2800 - 2870', '1230 - 1290',
       '943 - 1220', '2041 - 2090', '527 - 639', '1Grounds',
       '1160 - 1315', '706 - 716', '2940Sq. Yards', '1791 - 4000',
       '45.06Sq. Meter', '799 - 803', '2470 - 2790', '783 - 943',
       '4500 - 5540', '1255 - 1375', '610 - 615', '854 - 960',
       '2650 - 2990', '1.25Acres', '86.72Sq. Meter', '1230 - 1490',
       '660 - 780', '1150 - 1194', '684 - 810', '1510 - 1670',
       '1550 - 1590', '1235 - 1410', '3484 - 3550', '38Guntha',
       '929 - 1078', '2150 - 2225', '1520 - 1759', '629 - 1026',
       '1215 - 1495', '6Acres', '1140 - 1250', '2400 - 2600',
       '1052 - 1322', '5666 - 5669', '712 - 938', '1783 - 1878',
       '120Sq. Yards', '24Sq. Meter', '2528 - 3188', '650 - 760',
       '1400 - 1421', '4000 - 4450', '142.84Sq. Meter', '300Sq. Yards',
       '2204 - 2362', '1437 - 1629', '850 - 1060', '1200 - 1470',
       '1020 - 1130', '1133 - 1384'], dtype=object)

In [104]:
# df3[~df3['total_sqft'].apply(float_checker)].apply(lambda x : int( (x.split('-')[0]+x.split('-')[1])/2 ) )
def convert_sqft_to_num(x):
  tokens = x.split('-')
  if len(tokens) == 2:
    return (float(tokens[0])+float(tokens[0]))/2
  try :
    return float(x)
  except : 
    return None
w = convert_sqft_to_num('24sq_m')
# not return anything

In [113]:
df4 = df3.copy()
df4['total_sqft'] = df4['total_sqft'].apply(convert_sqft_to_num)
# df4['total_sqft'].unique()

df4.drop(['size'],axis='columns',inplace=True)
df4

                       location  total_sqft  bath  balcony   price  bhk
0      Electronic City Phase II      1056.0   2.0      1.0   39.07    2
1              Chikka Tirupathi      2600.0   5.0      3.0  120.00    4
2                   Uttarahalli      1440.0   2.0      3.0   62.00    3
3            Lingadheeranahalli      1521.0   3.0      1.0   95.00    3
4                      Kothanur      1200.0   2.0      1.0   51.00    2
...                         ...         ...   ...      ...     ...  ...
13315                Whitefield      3453.0   4.0      0.0  231.00    5
13316             Richards Town      3600.0   5.0      2.0  400.00    4
13317     Raja Rajeshwari Nagar      1141.0   2.0      1.0   60.00    2
13318           Padmanabhanagar      4689.0   4.0      1.0  488.00    4
13319              Doddathoguru       550.0   1.0      1.0   17.00    1

[13303 rows x 6 columns]

In [118]:
df5 = df4.copy()
df5['price_per_sqft'] = df5['price']*(100000)/df5['total_sqft']
df5.drop(['price'],axis='columns',inplace=True)
df5

,location,total_sqft,bath,balcony,bhk,price_per_sqft
0,Electronic City Phase II,1056.0,2.0,1.0,2,3699.810606
1,Chikka Tirupathi,2600.0,5.0,3.0,4,4615.384615
2,Uttarahalli,1440.0,2.0,3.0,3,4305.555556
3,Lingadheeranahalli,1521.0,3.0,1.0,3,6245.890861
4,Kothanur,1200.0,2.0,1.0,2,4250.000000
...,...,...,...,...,...,...
13315,Whitefield,3453.0,4.0,0.0,5,6689.834926
13316,Richards Town,3600.0,5.0,2.0,4,11111.111111
13317,Raja Rajeshwari Nagar,1141.0,2.0,1.0,2,5258.545136
13318,Padmanabhanagar,4689.0,4.0,1.0,4,10407.336319
13319,Doddathoguru,550.0,1.0,1.0,1,3090.909091

In [120]:
len(df5.location.unique())

1304

In [126]:
# if we use one-hot encoding then there will be 1304 columns. , so not use this

df5.location = df5.location.apply(lambda x : x.strip())

location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

location
Whitefield               540
Sarjapur  Road           397
Electronic City          304
Kanakpura Road           273
Thanisandra              237
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [127]:
len(location_stats[location_stats<=10])

1052

In [129]:
loca_less_10 = location_stats[location_stats<=10]
loca_less_10

location
Basapura                 10
1st Block Koramangala    10
Gunjur Palya             10
Kalkere                  10
Sector 1 HSR Layout      10
                         ..
1 Giri Nagar              1
Kanakapura Road,          1
Kanakapura main  Road     1
Karnataka Shabarimala     1
whitefiled                1
Name: location, Length: 1052, dtype: int64

In [131]:
len(df5['location'].unique())

1293

In [138]:
loca_less_10.mean()

loca_rem = loca_less_10[loca_less_10<(loca_less_10.mean())]

df5.location = df5.location.apply(lambda x : 'other' if x in loca_rem else x)
df5.location

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316               Richards Town
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13303, dtype: object

In [139]:
countis = df5.groupby('location')['location'].agg('count')
countis

location
1st Block HBR Layout                3
1st Block HRBR Layout               8
1st Block Jayanagar                14
1st Block Koramangala              10
1st Phase JP Nagar                 25
                                 ...
Yemlur                              9
Yeshwanthpur                       85
Yeshwanthpur Industrial Suburb      3
other                             818
tc.palya                            4
Name: location, Length: 649, dtype: int64

In [140]:
len(df5.location.unique())

649